@model ProductViewModel

@if (Model != null && Model.Product != null)
{
    var defaultImageURL = "/Content/images/system/placeholder-image.png";
    var imageURL = string.IsNullOrEmpty(Model.Product.ImageURL) ? defaultImageURL : Model.Product.ImageURL;

    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h2 class="breadcrumb-title">@Model.Product.Name</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- products -->
    <div class="products">
        <div class="container">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li>
                                    <div class="thumb-image detail_images"> <img src="@imageURL" data-imagezoom="true" class="img-responsive" alt=""> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 single-top-right">
                        <h3 class="item_name">@Model.Product.Name</h3>
                        <p>Tiempo de procesamiento: el artículo se enviará dentro de 2-3 días hábiles.</p>
                        <div class="single-price">
                            <ul>
                                <li>S/ @Model.Product.Price</li>
                            </ul>
                        </div>
                        <p class="single-price-text">@Model.Product.Description</p>
                        <button type="submit" class="productAddToCart w3ls-cart pw3ls-cart" data-id="@Model.Product.ID"><i class="fa fa-cart-plus" aria-hidden="true"></i> Agregar al carro</button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//products-->

    <div class="swiper-container productos">
        <div class="section-titulo">
            <h3 class="w3ls-title">Productos relacionados</h3>
        </div>

        @{Html.RenderAction("Products", "Widgets", new { isLastestProducts = false, CategoryID = Model.Product.Category.ID });}

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
}

<script>

    var products;
    $(".productAddToCart").click(function () {

        var existingCookieData = $.cookie('CartProducts');

        if (existingCookieData != undefined && existingCookieData != "" && existingCookieData != null) {

            products = existingCookieData.split('-');

        }

        else {
            products = [];
        }

        var productID = $(this).attr('data-id');

        products.push(productID);

        $.cookie('CartProducts', products.join('-'), { path: '/' });

        updateCarProducts();

        Swal.fire(
            "Producto Agregado",
            "El producto se agregado al carro correctamente",
            "success"
        )
    });

</script>