@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <h2 class="text-center form-group">TABLA DE PRODUCTOS</h2>

    <form method="post">

        <div class="input-group form-group">
            <input class="form-control" id="searchTxt" name="Search" style="padding: 23px;"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="searchBtn">Buscar</button>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-primary text-uppercase" id="newBtn">Nuevo Producto</button>
</div>

<div style="margin-top: 30px;">
    <table class="table table-striped table-bordered text-center" style="font-size: 17px;">
        <thead>
            <tr>
                <td>Nombre del Producto</td>
                <td>Categoría</td>
                <td>Precio</td>
                <td>Accciones</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        @if (product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td>S/. @product.Price</td>
                    <td>
                        <button class="editBtn btn btn-primary text-uppercase" style="margin-right: 15px;" data-id="@product.ID">Editar</button>
                        <button class="deleteBtn btn btn-default text-uppercase" data-id="@product.ID">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    //
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create'
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    //
    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });

    //
    $(".deleteBtn").click(function () {

        var confirmDelete = confirm("¿Estas seguro de eliminar el Producto?");

        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
                .done(function (response) {
                    $("#tableContainer").html(response);
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });
        }
    });
</script>
