@model EditCategoryViewModel
@{
    ViewBag.Title = "Edit";

    var trueChecked = Model.isFeatured ? "checked" : string.Empty;
    var falseChecked = !Model.isFeatured ? "checked" : string.Empty;

    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/placeholder-image.png";
}

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Editar Categoría
            </h2>
        </div>
    </div>
</div>

<form id="editCategory">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="row">
        <div class="col-md-8">
            <div class="default-form-box">
                <label>Nombre <span class="text-danger">*</span></label>
                <input name="Name" value="@Model.Name" />
            </div>
            <div class="default-form-box">
                <label>Descripción</label>
                <input name="Description" value="@Model.Description" />
            </div>
            <div class="default-form-box">
                <label>Imagen</label>
                <input type="hidden" id="ImageURL" name="ImageURL" value="@Model.ImageURL" />
                <input id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <div class="form-group">
                <label>¿Es destacado?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="True" @trueChecked /> Si</label>
                    </div>
                    <div class="radio form-control">
                        <label><input name="isFeatured" type="radio" value="False" @falseChecked /> No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="@imageURL" class="img-thumbnail" id="categoryImage" />
        </div>
    </div>

    <button id="updateBtn" type="button" class="btn btn-default">Actualizar</button>
    <button id="cancelBtn" type="button" class="btn btn-default">Cancelar</button>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UploadImage", "Shared")',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#categoryImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FALLÓ");
        });
    });

    //
    $('#editCategory').validate({
        rules: {
            Name: {
                required: true,
                minlength: 5,
                maxlength: 50
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: 'El nombre es obligatorio',
                minlength: 'El nombre debe tener mínimo 5 letras',
                maxlength: 'El nombre debe tener máximo 50 letras'
            },
            Description: {
                maxlength: 'La descripción debe tener máximo 500 letras'
            }
        }
    });
    $("#updateBtn").click(function () {
        if ($("#editCategory").valid()) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Category")',
                data: $("#editCategory").serialize()
            })
            .done(function (response) {
                $("#tableContainer").html(response);
                $("#actionContainer").html("");
                focusAction("tableContainer");

                Swal.fire({
                    icon: 'success',
                    title: 'Categoría actualizada!',
                    showConfirmButton: false,
                    timer: 1000
                })
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: 'Debe llenar los campos requeridos *',
                });
            });
        }
        else {
            Swal.fire({
                icon: 'warning',
                title: 'Advertencia',
                text: 'Debe llenar los campos requeridos *',
            });
        }
    });

    //
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContainer");
    });
</script>
